"prefix key
nnoremap [denite] <Nop>
nmap <leader><leader> [denite]

"keymap
"recursive search (under the current working dir)
nnoremap <silent> [denite]f :<C-u>Denite file_rec<CR>
"recursive search (under the buffer dir)
nnoremap <silent> [denite]d :<C-u>DeniteBufferDir file_rec<CR>
nnoremap <silent> [denite]g :<C-u>Denite grep<CR>
nnoremap <silent> [denite]b :<C-u>Denite buffer<CR>
nnoremap <silent> [denite]r :<C-u>Denite file_mru<CR>
nnoremap <silent> [denite]m :<C-u>Denite menu<CR>
