"jediの補完機能をオフ(neocompleteを使う)
let g:jedi#completions_enabled=0
let g:jedi#auto_vim_configuration=0

if !exists('g:neocomplete#force_omni_input_patterns')
    let g:neocomplete#force_omni_input_patterns={}
endif

"import系の補完
let g:neocomplete#force_omni_input_patterns.python='\h\w*\|[^. \t]\.\w*'

augroup MyAutoCmd
    autocmd FileType python setlocal completeopt-=preview "docstringは表示しない
    autocmd FileType python setlocal omnifunc=jedi#completions "omnifuncにjediを用いてneocompleteで補完
augroup END
