"The prefix key.
nnoremap [unite] <Nop>
nmap <leader><leader> [unite]

nnoremap <silent> [unite]f :<C-u>Unite file file/new<CR>
nnoremap <silent> [unite]d :<C-u>UniteWithBufferDir file file/new<CR>
nnoremap <silent> [unite]g :<C-u>Unite grep<CR>
nnoremap <silent> [unite]b :<C-u>Unite buffer<CR>
nnoremap <silent> [unite]h :<C-u>Unite file_mru<CR>
nnoremap <silent> [unite]m :<C-u>Unite menu<CR>
nnoremap <silent> [unite]o :<C-u>Unite output<CR>
nnoremap <silent> [unite]y :<C-u>Unite yankround<CR>
nnoremap <silent> [unite]k :<C-u>Unite bookmark<CR>
nnoremap <silent> [unite]a :<C-u>UniteBookmarkAdd<CR>
