"disable compiler
let g:vimtex_compiler_enabled=0

"automatic omni completion
if !exists('g:neocomplete#sources#omni#input_patterns')
    let g:neocomplete#sources#omni#input_patterns = {}
endif
let g:neocomplete#sources#omni#input_patterns.tex = g:vimtex#re#neocomplete

let g:vimtex_complete_enabled=0
let g:vimtex_complete_close_braces=0
let g:vimtex_complete_recursive_bib=0

"Vim本体の自動インデントと干渉する場合はオンにせよ
let g:vimtex_indent_enabled=0
let g:vimtex_indent_bib_enabled=0
