augroup MyAutoCmd
    autocmd ColorScheme * highlight Search ctermfg=40 ctermbg=234 guifg=#7fbf00 guibg=#1c1c1c "Search highlight color
    autocmd ColorScheme * highlight MatchParen ctermfg=lightblue ctermbg=NONE guifg=blue guibg=NONE "MatchParen highlight color
    autocmd ColorScheme * highlight Normal ctermbg=none "match vim background color with terminal background color.
augroup END
syntax enable
set laststatus=2 "display status bar
set cmdheight=2 "2 row message
set list
set listchars=eol:⊿,tab:≫-,trail:□
set number "row number
set ruler "display cursor position
set cursorline "cursorline highlight
set showcmd
set visualbell t_vb=
set noerrorbells
set title
set breakindent
set showbreak=>
set display+=lastline
set pumheight=10 "completion list size
set scrolloff=5

function! ZenkakuSpace()
    highlight ZenkakuSpace cterm=underline ctermfg=lightblue guibg=darkgray
endfunction
if has('syntax')
    augroup MyAutoCmd
        autocmd ColorScheme * call ZenkakuSpace()
        autocmd VimEnter,WinEnter,BufRead * match ZenkakuSpace /　/
    augroup END
    call ZenkakuSpace()
endif

