"Vim Ver.8からバックスペースが効かない不具合への対処
set backspace=indent,eol,start

"required by dein
if &compatible "&を接頭子にすると、オプションを変数のように扱える。
    set nocompatible
endif

"required by quickrun, nerdcommenter
"filetype plugin on "deinの起動時に無効化されるため，その後に記述する

"required by incsearch
set hlsearch

"required by vim-indent-guides
set expandtab "Tab to Space
set tabstop=4 "Tab width
set shiftwidth=4 "autoindent width

"indent configuration
set cindent
set softtabstop=4 "Tab length

set whichwrap+=b,s,h,l,<,>,~,[,]
set clipboard=unnamed,autoselect "use OS clipboard
set mouse=a "accept mouse input
set autoread "編集中のファイルが外部で変更された際に自動でリロード
set confirm "未保存ファイルの終了時に保存確認
set hidden "編集中のファイルが未保存でも別のファイルを開けるようにする
set wildmenu
set wildmode=longest:full,full "TAB押下時、1回目は最長表示のみ、2回目以降は次マッチを補完

"search configuration
set incsearch
set ignorecase
set smartcase

"filetype configuration
augroup MyAutoCmd
    autocmd BufRead,BufNewFile *.config setfiletype vim
    autocmd BufRead,BufNewFile *.lib setfiletype spice
    autocmd BufEnter *.snip setl noexpandtab
    autocmd BufNewFile,BufRead *.{md,mdwn,mkd,mkdn,mark*} set filetype=markdown
augroup END
