"Leader key
let mapleader="\<Space>"
let maplocalleader="\<Space>"

"Linux上でBSキーを機能させる
noremap  
noremap!  
noremap <BS> 
noremap! <BS> 

"表示行で上下移動
nnoremap k gk
nnoremap j gj
nnoremap <Up> gk
nnoremap <Down> gj
inoremap <Up> <C-o>gk
inoremap <Down> <C-o>gj

"Yで行末までヤンク
nnoremap Y y$

"分割画面の最大化
let g:windowstate=0
function! Maxwindow()
    if g:windowstate==0
        execute "normal \<C-w>_\<C-w>\<Bar>"
        let g:windowstate=1
    else
        execute "normal \<C-w>="
        let g:windowstate=0
    endif
endfunction
nnoremap <C-w>a :call Maxwindow()<CR>

