function! s:make_dir(dir)
    if !isdirectory(a:dir)
        call mkdir(a:dir, 'p')
    endif
endfunction

let s:ftp_dir=g:vim_dir.'/ftplugin'
let s:swp_dir=g:vim_dir.'/swp'
let s:backup_dir=g:vim_dir.'/backup'

call s:make_dir(s:ftp_dir)
call s:make_dir(s:swp_dir)
call s:make_dir(s:backup_dir)

execute 'set runtimepath+=' . s:ftp_dir
set swapfile
execute 'set directory='.s:swp_dir
set backup 
execute 'set backupdir='.s:backup_dir

"activate persisnent_undo
if has('persistent_undo')
    let s:undo_dir=g:vim_dir.'/undo'
    call s:make_dir(s:undo_dir)
    execute 'set undodir='.s:undo_dir
    set undofile
endif

"dein install
let s:dein_repo_dir=g:dein_dir . '/repos/github.com/Shougo/dein.vim'
if !isdirectory(s:dein_repo_dir)
    if executable('git')
        execute '!git clone https://github.com/Shougo/dein.vim' s:dein_repo_dir
    else
        echomsg 'please install git.'
    endif
endif
execute 'set runtimepath^=' . s:dein_repo_dir
"「^」は「前から」、「.」は「文字列の連結」
"executeに複数の引数を与えると、スペースで区切られた形で連結される。(ドットを引数間に入れるとスペースなしで連結される。)

let s:yankround_dir=g:vim_dir.'/cache/yankround'
call s:make_dir(s:yankround_dir)

